# Ignorer les fichiers et dossiers temporaires de Python
__pycache__/
*.pyc

# Ignorer les fichiers et dossiers de configuration
.idea/

# Ignorer le dossier d'environnement virtuel
venv/

# Ignorer la base de données DuckDB et les fichiers de log
data/*.duckdb
log/